/* section for mobile */
.nav{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 5rem;
}

.mct {
    margin-bottom: 5rem;
    background-color: var(--light);
}


/* section for desktop */
@media screen and (min-width: 599px) {

.nav{
    position: absolute;
    top: 0;
    flex-direction: column;
    width: 5rem;
    height: 100vh;
}

.mct {
    margin-left: 5rem;
    background-color: var(--light);
}

}